<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.title || "CSE Motors - Quality Used Cars" %>
    </title>
    <meta name="description"
        content="<%= locals.description || 'Quality used cars and exceptional service at CSE Motors' %>">
    <link rel="stylesheet" media="screen" href="/css/styles.css">
</head>